'context-menu':
  '.overlayer': [
    { 'label': 'Convert hashes', 'command': 'hashy:convert' }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'hashy'
      'submenu': [
        { 'label': 'Convert selection', 'command': 'hashy:convert' }
      ]
    ]
  }
]
